/* footer */
.footer-section{
    background-color: black;
    display:flex;
    justify-content: space-around;
    color:white;
    padding:2em 0;
}

 ul li{
    color:white;
    list-style-type: none;
}

ul h2{
    color:white;
}