* {
  font-size: 40px;
  /* width: 100%; */
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
}
/* @media and (max-width=414px) {
  .list {
    display: none;
  }
} */
/* header */


.shop__cart{
  width:500px;
}

.parent__cart{
  position:relative;
}

.cart__section{
 min-height: 40vh;
  background-color: #eea539;
  /* width:500px; */
  position:absolute;
  right:0%;
  /* right:50px; */
  top:2.5em;
}

.javascript__content button{
  background-color: aqua;
   padding:0 2px;
}
.javascript__content{
  display:flex;
  justify-content: space-between;
  /* font-size: 1rem; */
}

.javascript__content h2 p{
  font-size: small;
}

.js__input__btn{
  display: flex;
  justify-content:space-between ;
  border:1px solid black;
}

.count{
border:none;
background-color:  #eea539;
display:block;
width:50px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
right:3em;
top: 40px;
border-radius: 50px;
height: 50px;
/* color:white; */

}
.nav__bar {
  background-color: #f4f7fb;
  height: 8vh;
}

.nav__list ul {
  list-style-type: none;
  color: black;
  display: inline-flex;
  padding: 0 1em;
  gap: 2em;
}

.nav__list ul li {
  /* background-color: #eea539; */
  padding: 1em;
}

.flex__container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5em;
}

.bar-icon {
  display: none;
}

.nav__cart {
  padding-right: 2em;
}

 @media screen and (max-width: 414px) {
  .bar-icon {
    display: block;
    margin-top: -0.6em;
  }

  .nav__list ul {
    display: none;
  }

  .flex__container {
    display: inline-flex;
    margin-top: -1.5em;
  }

  .nav__right {
    display: inline-flex;
  }

  .shop {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
} 


