* {
  font-size: 40px;
  /* width: 100%; */
  font-family: 'Kanit', sans-serif;
  margin:0;
  padding:0;
}
/* @media and (max-width=414px) {
  .list {
    display: none;
  }
} */
/* header */
.container {
  margin: 0;
  padding: 0;
}
.nav__bar {
  background-color: #f4f7fb;
  height: 8vh;
}

.nav__list ul {
  list-style-type: none;
  color:black;
  display: inline-flex;
  padding: 0 1em;
  gap: 2em;
}

.nav__list ul li{
  /* background-color: #eea539; */
  padding: 1em;
}

.flex__container {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5em;
}

.bar-icon{
  display:none;
}



.nav__cart {
  padding-right: 2em;
}


@media screen and (max-width:414px){
.bar-icon{
  display:block;
margin-top: -0.6em;
}

.nav__list ul{
  display:none;
}

.flex__container{
  display:inline-flex;
  margin-top: -1.5em;


}

.nav__right {
  display:inline-flex;
}

}
