/*hero*/
*{
  margin:0;
  padding:0;
}

.hero h1{
  
}
.hero-h1{
    color:#eea539;
}

.nav-hero {
  display:inline-flex;
    border: none;
    box-shadow: 0 0 3px gray;
  }

.fa-solid{
  padding-top: 1em;
  padding-left:0.5em;
}

  .input {
    padding: 7px;
    border:lightgray

  }


  .hero-btn{
      background-color: black;
      color:white;
      padding:1em;
      border-color:black;
      border-radius:5px;
  }

  .hero{
    display:inline-flex;
    margin-top: 5em;
    position:25%;
    box-shadow: 20px;
    justify-content:space-evenly;
  }

  .hero__fresh{
    width:25%;
  }


