/*hero*/

.hero-h1{
    color:#eea539;
}

.nav-hero {
    border: 1px solid black;
    display:-inline-flex;
  }


  .input {
    padding: 6px;
  }


  .hero-btn{
      background-color: black;
      color:white;
      padding:1px 1px;
  }

  .hero{
    display:flex;
    justify-content:space-evenly;
    position:40%;
    
  }
