/* --main-- */

.main__menu {
  text-align: center;
  margin-top: 150px;
  padding-right: 200px;
  margin-bottom: 90px;
}


.main__menu li {
  margin-top: 5em;
  display: inline-flex;
  padding: 0 1em;
  gap: 2em;
}


ul li:hover {
  color: #eea539;
  border-bottom: 2px solid #eea539;
}


.lists {
  border-bottom: 1px solid gray;
  display:flex;
  justify-content: space-between;
}


.black__button {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 2em 10em;
  border: none;
  margin-top: -20px;
  margin-left: 6em;
  /* align-items: center;
  align-content: center;
  text-align: center; */
}


.main__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  align-content: center;
  
}


.main__content {
  padding: 150px;
  margin-top: -120px;
  background-color: #f4f7fb;
}


.image {
  display: flex;
  justify-content: space-evenly;
}


.btn__main {
  color: white;
  background-color: #eea539;
  padding: 2em 10em;
  margin: 0 45%;
  margin-top: 10em;
  border-radius: 5px;
  border: none;
}


/* main1 */
.hero__main {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;

  align-content: center;
  margin-top: 4em;
}


.hero__image {
  background-color: black;
  border-radius: 30px;
}


.hero__end{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding:1em 0;
}


.hero__bottom{
  display:flex;
 
  justify-content: space-around;
  padding: 2em;
  align-content:center;
  align-items: center;
  
}
.hero__end{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.hero__end h2{
margin:3em 0;

}

.hero__end{
  text-align: center;

}

.hero__bottom2{
  background-color: #f4f7fb;
  padding:5.5em 5em;
}
.hero__bottom_1{
  background-color: #f4f7fb;
  padding:5em ;
}
 
.hero__bottom_3{
  background-color: #f4f7fb;
  padding:5em 6em;
  align-content: center;
}

.hero_images {
  background-color: #f4f7fb;
  border-radius: 50px;
  display:inline-flex;
  justify-content: center;
}



.sub__hero {
  display: flex;
  justify-content: space-between;
  margin: 10em 0;
  background-color: white;
}
